flask==1.0.2
flask-login==0.4.1
flask-wtf==0.14.2
flask-bootstrap==3.3.7.1

flask-oauth==0.12
wtforms==2.2.1
flask-register==0.1.0
pillow=5.3.0

appdirs = 1.4.3
Flask-Mail == 0.9.1

firebase-admin==2.16.0
Pyrebase==3.0.27
