<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List Group With Custom Content</h2>
  <div class="list-group">


      {% for i in range(length) %}

          <a href="{{ url_for('profile', user_name=user_name_list[i], currentuser=currentuser) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ name_list[i] }}</h4>
                <p class="list-group-item-text">{{ user_name_list[i] }}</p>
          </a>

      {% endfor %}

  </div>
</div>


<div align="center" class="myclass" style="display: inline-block;">
{#    <h2 align="center">Select Complexity Level</h2>#}
{#    <div style="display: inline-block">#}
{#        <a href="#" class="btn btn-success" id="easy" style='visibility:visible'#}
{#           onclick="easy(this, '{{ sessionID }}')">Easy</a>#}
{#    </div>#}
{#    <div style="display: inline-block">#}
{#        <a href="#" class="btn btn-success" id="medium" style='visibility:visible'#}
{#           onclick="medium(this, '{{ sessionID }}')">Medium</a>#}
{#    </div>#}
{#    <div style="display: inline-block">#}
{#        <a href="#" class="btn btn-success" id="hard" style='visibility:visible'#}
{#           onclick="hard(this, '{{ sessionID }}')">Hard</a>#}
{#    </div>#}
{##}
{#    <hr>#}

    <div align="center" style="display: inline-block">
        <a href="{{ url_for('allbooks', currentuser=currentuser) }}" class="btn btn-success" id="books" style='visibility:visible'
           onclick="previoussummary(this, '{{ sessionID }}')">All Books</a>

        <a href="{{ url_for('addbook', currentuser=currentuser) }}" class="btn btn-success" id="add" style='visibility:visible'>Add Books</a>

        <a href="{{ url_for('requests', currentuser=currentuser) }}" class="btn btn-success" id="request" style='visibility:visible'>Book Requests</a>
    </div>

</div>


</body>
</html>