{% extends "layout.html" %}
{% block content %}
    <button onclick="window.open('https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiYq5KY_8rhAhVEjeYKHY2uAn0QFjAAegQIBBAB&url=http%3A%2F%2Fadmission.eis.du.ac.bd%2Findex.php%3Fact%3Dinformation%2Fget_notices%2FALL&usg=AOvVaw3eCSEjjut82pSUc9imqoPV','_blank')">DU</button><br><br>
    <button onclick="window.open('https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjcrsrb_8rhAhUxXHwKHWIpCXsQFjAAegQIBBAB&url=http%3A%2F%2Fwww.juniv.edu%2Fdiscussion%3Ftype%3DNOTICE&usg=AOvVaw3Wq1P2JARtu1a1yL24NIY7', '_blank')">JU</button>
{% endblock %}
